<!DOCTYPE>
<html ng-app="meli" ng-controller="climaCtrl">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<body>
<div class="card" >
  <div class="card-header">
    Ejercicio MercadoLibre
  </div>
  <div class="card-body">
    <h5 class="card-title">Predecir el clima en los próximos 10 años</h5>
    <input ng-keyup="validate()" class="form-control" min="1" max="10" ng-model="anio" type="number" placeholder="Ingresar limite de años de predicción..." id="anios" tabindex="1">
    <div ng-if="diaRequerido"class="alert alert-danger" role="alert" style=" margin-top:  10px; max-width:  32%;">Es necesario ingresar el el límite de año de predicción</div>
    <br>
    <buttom ng-disabled="diaRequerido" class="btn btn-primary float-right" ng-click="limpiar()"  tabindex="3">Limpiar</buttom>
    <buttom ng-disabled="diaRequerido" class="btn btn-primary float-right" ng-click="calcularClima(anio)"  tabindex="2" style="margin-right: 6px;">Calcular</buttom>
  </div>
</div>
<div class="container" ng-if="status==200">
	<ul class="list-group" style="margin-top: 15px;">
	  <li class="list-group-item">Cantidad de días de sequía:<strong> {{sequia}}</strong></li>
	  <li class="list-group-item">Cantidad de días de lluvia:<strong> {{lluvia}}</strong></li>
	  <li class="list-group-item">Día que será el pico máximo de lluvia:<strong> {{diaLluvia}}</strong></li>
	  <li class="list-group-item">Cantidad de días de presión y temperatura óptima:<strong> {{optimo}}</strong> </li>
	</ul>
</div>
<script src="app.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>
